<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

  <header id="headerline">
    <h1><a href="/">Parafia pw. bł. Anieli Salawy <br /> w Olsztynku</a></h1>
  </header>

  <div id="container">
    <div id="wcontent">
      <div id="topcontent">&nbsp;</div>
      <div id="content">
        <div id="maincontent" class="row">
          <div class="column" id="contentwrap" role="main" aria-label="Content">
            {{ content }}
          </div>
          <div class="column" id="insidebar" class="insidebar">
            {%- include sidebar.html -%}
          </div>
        </div>
      </div>
      <div id="bottomcontent">&nbsp;</div>
    </div>
  </div>

  <footer id="footer">
    &copy; Copyright 2010-{{ 'now' | date: "%Y" }} by Parafia Rzymskokatolicka pod
    wezwaniem Błogosławionej Anieli Salawy w
    Olsztynku&nbsp;&nbsp;|&nbsp;&nbsp;Administrator:
    <u>Danuta Lewandowska</u>&nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="https://jedrzej.lewandowski.doctor/">Designed by: Jędrzej Lewandowski</a>.
    <a href="https://github.com/anielaolsztynek/anielaolsztynek.pl-2020/actions" rel="nofollow noopener">
      Anielaolsztynek.pl build log
    </a>
  </footer>


</body>

</html>
