<div id="archives-2" class="widget-container widget_archive">
  <h3 class="widget-title">Archiwum</h3>
  <ul>
    {% assign postsByYearMonth = site.posts | group_by_exp:"post", "post.date |
    date: '%Y %b'" %} {% for yearMonth in postsByYearMonth %}
    <li class="list-group-item py-1">
      {% for item in yearMonth.items limit: 1 %} {% assign m = item.date | date:
      "%-m" | minus: 1 %}

      <a href="{{ site.url }}/{{ item.date | date: '%Y/%m' }}">
        {{ site.monthNames[m] }} {{ item.date | date: '%Y' }}
      </a>
      {% endfor %}
    </li>
    {% endfor %}
  </ul>
</div>
