<div id="text-4" class="widget-container widget_text">
  <div class="textwidget">
    <a href="http://duszpasterstwo.episkopat.pl" style="margin: 0; padding: 0;"
      ><img
        src="/assets/foto/miniaturka3.jpg"
        alt="wielka-tajemnica-wiary.jpg"
        width="200"
    /></a>
  </div>
</div>

<div id="text-4" class="widget-container widget_text">
  <div class="textwidget">
    <a
      href="https://duszpasterstwo.episkopat.pl/"
      style="margin: 0; padding: 0;"
      ><img
        src="/assets/foto/miniaturka.jpg"
        alt="wielka-tajemnica-wiary.jpg"
        width="200"
    /></a>
  </div>
</div>

<div id="text-6" class="widget-container widget_text">
  <div class="textwidget">
    <a href="http://sanktuariummaryjne.pl/" style="margin: 0; padding: 0;"
      ><img src="/assets/sidebar/matka-boza-gietrzwaldzka.jpg" width="200"
    /></a>
    <p
      style="
        width: 100%;
        background: #444;
        color: white;
        text-align: center;
        padding: 0.25em;
        box-sizing: border-box;
        margin-top: -0.25em;
      "
    >
      143 rocznica objawień Matki Bożej Gietrzwałdzkiej
    </p>
  </div>
</div>

<div id="text-4" class="widget-container widget_text">
  <div class="textwidget">
    <a href="https://diecezja.pl/100-lecie/" style="margin: 0; padding: 0;"
      ><img src="/assets/sidebar/jan-pawel-ii.jpg" width="200"
    /></a>
  </div>
</div>

<!--
<div id="text-4" class="widget-container widget_text">
  <div class="textwidget">
    <a href="[linkdostrony]" style="margin: 0; padding: 0;"><img src="/assets/foto/[nazwazjecia.jpg]"
        alt="[opiszdjeciadlaniewidomych]" width="200" /></a>
  </div>
</div>
-->
