<div id="text-6" class="widget-container widget_text">
  <div class="textwidget">
    <a href="http://sanktuariummaryjne.pl/" style="margin: 0; padding: 0;"
      ><img
        src="{{ site.urls.wp_content_base }}/uploads/2017/09/gietrzwald-140-rocznica.jpg"
        width="200"
    /></a>
  </div>
</div>

<div id="text-4" class="widget-container widget_text">
  <div class="textwidget">
    <a href="http://www.fatima.pt/pl" style="margin: 0; padding: 0;"
      ><img
        src="{{ site.urls.wp_content_base }}/uploads/2017/09/fatima-100-rocznica.jpg"
        width="200"
    /></a>
  </div>
</div>
