<div id="text-4" class="widget-container widget_text">
  <div class="textwidget">
    <a href="https://duszpasterstwo.episkopat.pl" style="margin: 0; padding: 0"><img
        src="/assets/sidebar/2025_jubileusz_pielgrzymi_nadziei.png"
        alt="Pielgrzymi nadziei. Program duszpasterski Kościoła w Polsce na rok 2024/2025" width="200" /></a>
  </div>
</div>

<div id="text-6" class="widget-container widget_text">
  <div class="textwidget">
    <a href="https://sanktuariummaryjne.pl/" style="margin: 0; padding: 0"><img
        src="/assets/sidebar/matka-boza-gietrzwaldzka.jpg" width="200" /></a>
    <p style="
        width: 100%;
        background: #444;
        color: white;
        text-align: center;
        padding: 0.25em;
        box-sizing: border-box;
        margin-top: -0.25em;
      ">
      {% assign todayY = site.time | date: '%Y' %} {% assign startY =
      '01-01-2000 04:00:00' | date: '%Y' %} {% assign yearsSince2000 = todayY |
      minus: startY %} {% assign yearsSinceObjawienia = yearsSince2000 | plus:
      123 %}
      <!-- lata od objawień gietrzwałdzkich -->
      {{ yearsSinceObjawienia }} rocznica objawień Matki Bożej Gietrzwałdzkiej
    </p>
  </div>
</div>

<!--
<div id="text-4" class="widget-container widget_text">
  <div class="textwidget">
    <a href="[linkdostrony]" style="margin: 0; padding: 0;"><img src="/assets/foto/[nazwazjecia.jpg]"
        alt="[opiszdjeciadlaniewidomych]" width="200" /></a>
  </div>
</div>
-->
