<div id="nav_menu-3" class="widget-container widget_nav_menu">
  <h3 class="widget-title">Menu</h3>
  <div class="menu-menu-container">
    <ul id="menu-menu" class="menu">
      {% for item in site.menu %}
      <li class="menu-item">
        <a href="{{ item.url }}">{{ item.title }}</a>
      </li>
      {% endfor %}

      <!--<li
        id="menu-item-152"
        class="menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-152"
      >
        <a href="http://anielaolsztynek.pl/">Strona główna</a>
      </li>
      <li
        id="menu-item-153"
        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-153"
      >
        <a href="http://anielaolsztynek.pl/caritas-1/">Caritas – 1%</a>
      </li>
      <li
        id="menu-item-164"
        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-164"
      >
        <a href="http://anielaolsztynek.pl/galeria/">Galeria zdjęć</a>
      </li>
      <li
        id="menu-item-1955"
        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1955"
      >
        <a href="/kroniki-parafialne/">Kroniki parafialne</a>
      </li>
      <li
        id="menu-item-154"
        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-154"
      >
        <a href="http://anielaolsztynek.pl/roze-rozancowe/">Róże Różańcowe</a>
      </li>
      <li
        id="menu-item-155"
        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-155"
      >
        <a href="http://anielaolsztynek.pl/ministranci/">Ministranci</a>
      </li>
      <li
        id="menu-item-156"
        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-156"
      >
        <a href="http://anielaolsztynek.pl/sakramenty/">Sakramenty</a>
      </li>
      <li
        id="menu-item-157"
        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-157"
      >
        <a href="http://anielaolsztynek.pl/schola/">Schola</a>
      </li>
      <li
        id="menu-item-158"
        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-158"
      >
        <a href="http://anielaolsztynek.pl/porzadek-nabozenstw/"
          >Porządek nabożeństw</a
        >
      </li>
      <li
        id="menu-item-159"
        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-159"
      >
        <a href="http://anielaolsztynek.pl/kontakt/">Kontakt</a>
      </li>
      <li
        id="menu-item-160"
        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-160"
      >
        <a href="http://anielaolsztynek.pl/historia-parafii/"
          >Historia parafii</a
        >
      </li>
      <li
        id="menu-item-161"
        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-161"
      >
        <a href="http://anielaolsztynek.pl/o-patronce/">O patronce</a>
      </li>-->
    </ul>
  </div>
</div>
